# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# back
foodienv/
pyvenv.cfg

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
*.venv

# Flask logs
instance/
*.log

# IDE 관련 파일
.vscode/
.idea/
*.iml

# 환경 설정 파일
.env
*.ini
*.cfg

# 데이터베이스 파일
*.sqlite3
*.db

# Jupyter Notebook 체크포인트
.ipynb_checkpoints/

# MacOS 관련
.DS_Store

# Python 패키지 관련
Pipfile
Pipfile.lock
poetry.lock

# Docker 관련
docker-compose.override.yml

# 기타
coverage.xml
htmlcov/
dist/
build/
*.egg-info/
