body {
  min-height: 100vh;
  font-family: 'proxima-nova', 'Source Sans Pro', sans-serif;
  font-size: 1em;
  letter-spacing: 0.1px;
  color: #32465a;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased;
}

#frame {
  display: flex;
  height: 100vh;
  background: #e6eaea;
}
@media screen and (max-width: 360px) {
  #frame {
    width: 100%;
    height: 100vh;
  }
}
#frame #sidepanel {
  width: 300px;
  height: 100%;
  background: #2c3e50;
  color: #f5f5f5;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel {
    width: 58px;
    min-width: 58px;
  }
}
/* content */
#frame .content {
  position: relative;
  height: 100%;
  overflow: hidden;
  flex: 2;
}
#frame .content .title {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 25px;
  font-weight: 700;
  margin-top: 7px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0px 6px 7px;
  border-bottom: 1px solid #32465a;
  z-index: 2;
}
#frame .content .title span {
  font-size: 12px;
}
#frame .content .title button {
  padding: 8px 12px;
  font-weight: 400;
}
#frame .content .title .info {
  position: absolute;
  display: inline-block;
  top: 0px;
  right: 126px;
  padding: 10px 14px;
  font-size: 13px;
  line-height: 1.3;
  color: #e6eaea;
  border-radius: 12px;
  background-color: #435f7a;
  opacity: 0;
  transition: all 0.2s;
}
#frame .content .title .info:after {
  content: '';
  position: absolute;
  top: 11px;
  right: -10px;
  border-bottom: 6px solid transparent;
  border-left: 10px solid #435f7a;
  border-right: 0px solid transparent;
  border-top: 6px solid transparent;
}

#frame .content .title .info.show {
  opacity: 1;
}
@media screen and (max-width: 735px) {
  #frame .content {
    width: calc(100% - 58px);
    min-width: 300px !important;
  }
}
@media screen and (min-width: 900px) {
  #frame .content {
    width: calc(100% - 340px);
  }
}
#frame .intro {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#frame .intro .text-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: all 0.2s;
}
#frame .intro .text-wrap.show {
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all 0.2s;
}

#frame .intro p {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}
#frame .content .messages {
  position: relative;
  height: auto;
  min-height: calc(100% - 100.5px);
  max-height: calc(100% - 100.5px);
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 2;
}
@media screen and (max-width: 735px) {
  #frame .content .messages {
    max-height: calc(100% - 105px);
  }
}
#frame .content .messages::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
#frame .content .messages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}
#frame .content .messages ul li {
  display: inline-block;
  clear: both;
  float: left;
  margin: 20px 15px 0px 15px;
  width: calc(100% - 25px);
  font-size: 0.9em;
}
#frame .content .messages ul li:nth-last-child(1) {
  padding-bottom: 20px;
}
#frame .content .messages ul li.sent img {
  margin: 6px 8px 0 0;
}
#frame .content .messages ul li.sent p {
  /* #frame .content .messages ul li.sent .message-box { */
  background: #435f7a;
  color: #f5f5f5;
}
#frame .content .messages ul li.replies img {
  float: right;
  margin: 6px 0 0 8px;
}
#frame .content .messages ul li.replies p {
  background: #f5f5f5;
  float: right;
}
#frame .content .messages ul li img {
  width: 22px;
  border-radius: 50%;
  float: left;
}
#frame .content .messages ul li p {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 205px;
  line-height: 130%;
}
@media screen and (min-width: 735px) {
  #frame .content .messages ul li p {
    max-width: 300px;
  }
}
#frame .content .message-input {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 99;
}
#frame .content .message-input .wrap {
  position: relative;
}
#frame .content .message-input .wrap input {
  font-family: 'proxima-nova', 'Source Sans Pro', sans-serif;
  float: left;
  border: none;
  width: calc(100% - 90px);
  padding: 11px 32px 10px 8px;
  font-size: 1em;
  color: #32465a;
}
@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap input {
    padding: 15px 32px 16px 8px;
  }
}
#frame .content .message-input .wrap input:focus {
  outline: none;
}
#frame .content .message-input .wrap .attachment {
  font-size: 1.1em;
  /* position: absolute;
    right: 60px;
    z-index: 4;
    margin-top: 10px;
    color: #435f7a;
    opacity: .5;
    cursor: pointer; */
}
@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap .attachment {
    margin-top: 17px;
    right: 65px;
  }
}
#frame .content .message-input .wrap .attachment:hover {
  opacity: 1;
}
#frame .content .message-input .wrap button {
  float: right;
  border: none;
  width: 50px;
  padding: 12px 0;
  cursor: pointer;
  background: #32465a;
  color: #f5f5f5;
}
@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap button {
    padding: 16px 0;
  }
}
#frame .content .message-input .wrap button:hover {
  background: #435f7a;
}
#frame .content .message-input .wrap button:focus {
  outline: none;
}

/* 네이버 지도 */
#iframe {
  width: 100%;
  height: calc(100vh - 30px);
  border: none;
}
