.message {
    display: flex;
    gap: 8px;
    margin: 20px 15px 0px 15px;
}
.message:last-child {
    margin-bottom: 20px;
}
.message .profile_img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
}
.box_wrap {
    max-width: 70%;
}
.box {
    padding: 10px 15px;
    margin-top: 4px;
    border-radius: 20px;
    max-width: 100%;
    line-height: 130%;
    font-size: 14px;
}
.box:first-child {
    margin-top: 0px;
}

.message.sent {
    flex-direction: row;
}
.message.sent .box {background: #435f7a; color: #f5f5f5;}

.message.replies {
    flex-direction: row-reverse;
}
.message.replies .box {background: #f5f5f5;}


/* list 타입 */
.box_list {
    display: flex;
    gap: 18px;
}
.food_thumb {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    overflow: hidden;
}
.food_thumb img {
    width: 100%;
    height: 100%;
}
.food_info {}
.food_title {
    font-size: 18px;
}
.food_address {
    margin-top: 10px;
    font-size: 14px;
}
.food_link {
    margin-top: 10px;
    font-size: 14px;
}
.btn {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 4px;
    border-radius: 20px;
    line-height: 130%;
    font-size: 14px;
    background: #435f7a;
    color: #f5f5f5;
}
.btn:hover {
    background: rgba(67, 95, 122, 0.7);
}